    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-image: linear-gradient( #fbffce, #71b59d);
        color: rgb(58, 58, 58);
        text-align: center;
    }
    
    footer {
        background-color: #ffffff;
        margin-top: 30px;
    }
    
    img {
        width: 30%;
    }
    
    p {
        font-size: 1rem;
    }
    
    h2 {
        padding: 1.5rem;
        font-size: 3rem;
    }
    
    .winner {
        text-align: center;
        margin: 3rem;
        font-family: 'Courgette', cursive;
        font-size: 30px;
    }
    
    .player {
        display: inline-block;
        text-align: center;
    }
    
    .container {
        width: 70%;
        margin: auto;
        text-align: center;
    }
    
    .reminder {
        font-size: 3rem;
    }
    
    .Btn {
        text-align: center;
        padding-top: 5rem;
    }
    /* play button */
    
    .butn {
        -webkit-border-radius: 12;
        -moz-border-radius: 12;
        border-radius: 12px;
        font-family: Arial;
        color: #000;
        font-size: 26px;
        background: #d66846;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }
    
    .butn:hover {
        background: #e0915c;
        text-decoration: none;
    }
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    a:hover {
        text-decoration: none;
        color: #000;
    }
    /* home button */
    
    .home {
        -webkit-border-radius: 12;
        -moz-border-radius: 12;
        border-radius: 12px;
        font-family: Arial;
        color: #000;
        font-size: 26px;
        background: #d66846;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-bottom: 10px;
    }
    
    .home:hover {
        background: #e0915c;
        text-decoration: none;
    }
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    a:hover {
        text-decoration: none;
        color: #000;
    }
    /* icons */
    
    .social {
        font-size: 2.5rem;
        letter-spacing: 10px;
    }
    
    .fa-facebook-square {
        color: #3b5998;
    }
    
    .fa-facebook-square:hover {
        transform: scale(1.5);
    }
    
    .fa-instagram {
        color: #e4405f;
    }
    
    .fa-instagram:hover {
        transform: scale(1.5);
    }
    
    .fa-github {
        color: #000;
    }
    
    .fa-github:hover {
        transform: scale(1.5);
    }
    
    @media screen and (min-width: 750px) {
        .butn {
            display: none;
        }
        .play-btn {
            display: none;
        }
    }
    
    @media screen and (max-width: 750px) {
        .refresh {
            display: none;
        }
    }