* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    text-align: center;
    background-color: #85C1E9
}

img {
    width: 40%;
}

p {
    font-size: 30px;
}

.footer {
    font-size: 10px;
    background-color: #fff;
}

.rules {
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 40px;
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
}

.title {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
    text-shadow: 5px 0 #000;
    color: #1506C7;
    letter-spacing: 4px;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.butn {
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #000;
    font-size: 26px;
    background: #d66846;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.butn:hover {
    background: #e0915c;
    text-decoration: none;
}

.rules-container {
    margin: auto;
    width: 70%;
    border: #000 dashed 2px;
    padding: 0;
}